.App {
  text-align: center;
  /* font-family: 'Roboto', sans-serif; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* *{
  background-color: black;
} */


.App-header {
  background-color: #b6c3df;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.app1 {
  font-family: 'Mukta', sans-serif;
  font-size: large;
}

.LogoChange {
  position: relative;
  /* background: url(../images/logo.png); */
  /* border: 3px solid red; */
  width: 210px;
  height: 71px;
  left: 15px;
  background-size: cover;
}

.nav-link{
  color:white;
}

.navbar {
  /* border: 2px solid black; */
  height: 100px;
  width: 100%;
  z-index: 5;
  position: fixed;

}

.container-fluid {
  background-color: #24262b;
  min-height: 50px;
  max-height: 70px;
  /* border: 2px solid blue; */
}

.nav-item {
  color : white;
  padding: 0px;
  margin: 0px 20px;
  font-size: 20px;
}

.nav-item:hover {
  /* text-decoration: underline; */
  color: #ffffff;
}

.img-fluid {
  /* border: 2px solid blue; */
  height: 77vh;
  width: 100%;
  margin-top: 14vh;
}

.login-button {
  margin-left: 300px;
}

.about {
  /* margin:25vh 2vw ;
  margin-top: 10vh; */
  /* border: 2px solid rgb(227, 12, 12); */
  /*  */
  /* display: block; */
  width: 40vw;
  font-size: large;
  margin-top: 19vh;
  margin-right: 6vw;
  color: #484a4b;
  float: right;
}
.AboutWhole{
  position: absolute;
  top: 3vh;
  /* border: 2px solid black; */
}
.AboutImg {
  display: block;
  /* border: 2px solid black; */
  float: left;
  border-radius: 15px;
  margin: 0px 6vw;
  margin-top: 22vh;
  height: 70vh;
  width: 40vw;
}

.Headings {
  text-shadow: #282c34;
  color: black;
  font-size: xx-large;
  font-weight: bolder;
  margin: 0;
  
}

#staticEmail {
  border-radius: 5px;
  /* border: 1px solid black; */
  background-color: rgb(192, 192, 192);
}

#inputPassword {
  border-radius: 5px;
  /* border: 1px solid black; */
  background-color: rgb(192, 192, 192);
}

.log-in {
  position: absolute;
  top: 20vh;
  margin: 0 35vw;
  /* margin-top: 15vh; */
  /* border: 1px solid rgb(205, 186, 64); */
  /* margin-right: 3vw; */
  width: 35vw;
  /* float: right; */
}

/* .LogInImg {
  margin: 14vh 4vw;
  border: 1px solid rgb(205, 186, 64);
  float: left;
  border-radius: 5px;
  height: 70vh;
  width: 43vw;
} */

.logrows {
  margin: 50px 0px;
  /* border: 2px solid black; */
}

.logbutton {
  margin: 3vh 1vw;
}

.forgot {
  text-align: left;
  /* margin: 5px 0px; */
  color: black;
  text-decoration: none;
  margin: 3vh 1vw;
}

.sinup {
  font-weight: bold;
  margin: 0px 20px;
}

.onemillion {
  /* margin: ; */
  margin: 0vh 9vw;
  width: 35vw;
  float: left;
  font-size: x-large;
  font-weight: 500;
  text-align: center;
}

.dont {
  text-align: right;
}

.card-group {
  margin: 0 2vw;
}

.card {
  margin: 0px 4vw;
  height: 65vh;
  transition: 100ms;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
}

.cu1{
  margin: 30px 6vw;
  left:50px;
  max-width:30%;
  
}


.cu2{
  
 
  /* margin: 0px 100vw;
  left:50px;
  margin-left: auto;
  margin-right: auto; */
  border:2px solid red;
  /* left:50px;
  max-width:30%; */

}

.cu3{
  
  margin: 30px 13vw;
  /* left-margin:200px; */
  left:50px;
  max-width:30%;
 
  

}

.customer{
  border:2px solid red;
  margin: 0px 4vw;
  height: 65vh;
  transition: 100ms;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);

}

.card:hover {
  transform: translate3d(10px,0px,20px);  
  box-shadow: 0px 0px 10px rgba(0,0,0,0.8);
  }

.card-img-top {
  height: 40vh;
  /* transition: 100ms;
  box-shadow: 0px 0px 0px rgba(0,0,0,0); */
}
/* .card-img-top:hover {
  transform: translate3d(10px,0px,20px);  
  box-shadow: 0px 0px 10px rgba(0,0,0,0.8);
  } */

.head1 {
  font-weight: bolder;
  text-align: center;
  margin-top: 10vh;
  margin-bottom: 5vh;
  font-size: xx-large;
}

.pic1 {
  width: 96vw;
  width: 96hw;
  margin-top: 17vh;

}

.service1whole {
  font-size: large;
  margin: 0 5vw;
  /* border: 2px solid violet; */
  width: 90vw;
  position: absolute;
  top: 100vh;
 
}

.Service1Img {
  margin :4vh 0;
  float: right;
  width: 16vw;
  margin-right: 16vw;
  border-radius: 15px;
}

.Service2Img{
  margin: 12vh 0;
  margin-left: 6vw;
  /* border: 2px solid violet; */
  height: 28vh;
  width: 50vw;
}

.Service3Img{

  margin: 12vh 13;

}


.service1 {
  float: left;
  /* border: 2px solid yellow; */
  width: 80vh;
  margin: 0 5vw;
}

.service2whole {
  font-size: large;
  position: absolute;
  top: 150vh;
  margin: 0 5vw;
  /* border: 2px solid violet; */
  width: 90vw;
}

.Service2Img {
  float: left;
  /* border: 2px solid black; */
  width: 15vw;
  /* margin-top: 50vh; */
  margin-right: 20vw;
}

.service2 {
  float: right;
  /* border: 2px solid yellow; */
  width: 80vh;
  margin: 0 5vw;
}

.about2 {
  float: left;
  /* border: 2px solid yellow; */
  width: 80vh;
  margin-right: 11vw;
}

.About2whole {
  position: absolute;
  top: 185vh;
  width: 80vw;
  font-size: large;
  margin: 0vh 10vw;
  /* border: 3px solid black; */
  /* margin-top: vh; */
}

.service3whole {
  position: absolute;
  top: 200vh;
  font-size: large;
  margin: 0 5vw;
  /* border: 2px solid violet; */
  width: 90vw;
  /* ; */
}

.director {
  /* position: absolute; */

  /* background-color: bisque; */
  height: 60vh;
  width: 25vw;
  margin: 0 auto;
  border-radius: 5px;
}

.directorhead {
  margin-top: 200vh auto;
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
}

.directorwhole {
  margin: 0 38vw;
  position: absolute;
  /* border: 2px solid black; */
  top: 100vh;

}

.pic2 {
  margin-top: 14vh;
  /* width: 98.5vw; */
  width: 100%;
}

.spaces {
  padding: 1vh 2vw;
  width: 25vw;
}

.pic3 {
  margin: 13vh 0;
  width: 25vw;
  width: 300px; ;
  /* height: ; */
  /* border: 2px solid black; */
}

.pic4 {
  margin: 12vh 6vw;
  /* border: 2px solid black; */
}

.row {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}
p {
  text-decoration: none;
}

.stock1{
  position: absolute;
  top: 15vh;
  margin: 0 12vw;
}
.graph{
  margin: 3vh 0;
}




.footer1 {
  /* box-sizing: border-box; */
  width: 100%;
  position: absolute;
  top: 265vh;
  z-index: -1;
  /* margin: 100vh 0; */
  background-color: #24262b;
  padding: 70px 0;
  height: 50vh;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  /* text-transform: capitalize; */
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

.loca{
  width: 15vw;
  height: 20vh;
  float: right;
  /* border: 2px solid yellow; */
  border-radius:20px ;
}

.locabox{
  /* border: 2px solid yellow; */
  width: fit-content;
}

.card{
  text-decoration: none;
}

@media(max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media(max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}

/* footer{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container-footer {
  
  /* line-height: 1.5;
  font-family: "Poppins", sans-serif; 
  width: 80vw;
  margin: auto;
  border: 2px solid white;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

.footer {
  margin: vh 0vw; 
  background-color: #24262b;
  padding: 70px 0;
  width: 100%;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
} */
p{
  margin: 0 0 0;
  text-align: none;
}